<!DOCTYPE html>
<html>
<head>
  <title>Tramway admin</title>
  <%= stylesheet_link_tag    "tramway/admin/application", media: "all" %>
  <%= javascript_include_tag "tramway/admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
